<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>recipe Achive</title>
    <link rel="stylesheet" href="../../static/css/recipe_search.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
</head>
<body>
<header>
</header>

<aside class="sidebar">
</aside>

<main>
    <h2 id="recipe_title">레시피 게시판</h2><br>
    <div id="search_input_box_div">
        <form id="search_search_container">
            <label for="search_input_box">검색창</label>
            <input id="search_input_box">
        </form>
    </div>
    <br>
    <hr style="width:100%">
    <br>
    <div id="search_button_container_div">
        <div class="search_button_class_container">
            <button class="search_button_detail_open_button">채소</button>
            <div class="search_button_detail_container">
                <button class="search_button_detail_button">버튼1</button>
                <button class="search_button_detail_button">버튼2</button>
                <button class="search_button_detail_button">버튼3</button>
            </div>
        </div>
        <div class="search_button_class_container">
            <button class="search_button_detail_open_button">채소</button>
            <div class="search_button_detail_container">
                <button class="search_button_detail_button">버튼1</button>
                <button class="search_button_detail_button">버튼2</button>
                <button class="search_button_detail_button">버튼3</button>
            </div>
        </div>
        <div class="search_button_class_container">
            <button class="search_button_detail_open_button">채소</button>
            <div class="search_button_detail_container">
                <button class="search_button_detail_button">버튼1</button>
                <button class="search_button_detail_button">버튼2</button>
                <button class="search_button_detail_button">버튼3</button>
            </div>
        </div>
        <div class="search_button_class_container">
            <button class="search_button_detail_open_button">채소</button>
            <div class="search_button_detail_container">
                <button class="search_button_detail_button">버튼1</button>
                <button class="search_button_detail_button">버튼2</button>
                <button class="search_button_detail_button">버튼3</button>
            </div>
        </div>
        <div class="search_button_class_container">
            <button class="search_button_detail_open_button">채소</button>
            <div class="search_button_detail_container">
                <button class="search_button_detail_button">버튼1</button>
                <button class="search_button_detail_button">버튼2</button>
                <button class="search_button_detail_button">버튼3</button>
            </div>
        </div>
        <div class="search_button_class_container">
            <button class="search_button_detail_open_button">채소</button>
            <div class="search_button_detail_container">
                <button class="search_button_detail_button">버튼1</button>
                <button class="search_button_detail_button">버튼2</button>
                <button class="search_button_detail_button">버튼3</button>
            </div>
        </div>
        <br>
        <hr style="width:100%">
        <br>
        <div id="search_result_container_div">
            <div class="search_result_container_post">
                <div class="image"></div>
                <div class="content"></div>
            </div>
        </div>
    </div>
</main>

<footer>
    <p>&copy; 2025 Recipe Achive. All rights reserved. hp</p>
</footer>

<!-- 외부 JavaScript 파일 연결 -->
<script src="../static/js/recipeTest.js"></script>
</body>
</html>