<!doctype html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>recipe Achive</title>
    <link rel="stylesheet" href="/css/recipeTest.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
</head>
<body>
<!-- navi.html 포함 -->
<header>
<div th:replace="~{navi :: nav}"></div>
<div th:replace="~{navi :: aside}"></div>
</header>
<main>
    <section id="introduce">
        <h2>매일 반복되는 냉장고 앞의 고민</h2>
        <h2>레시피 아카이브와 함께 해결해요!</h2>
    </section>

    <br><br><br><br>

    <section id="visit">
        <h2>Visit Us</h2>
        <p>We are open 24/7 online! Explore our virtual tours and animal cams.</p>
        <a href="#animals" class="button">Explore Animals</a>
    </section>
</main>

<footer>
    <p>&copy; 2025 Recipe Achive. All rights reserved. hp</p>
</footer>

<!--&lt;!&ndash;외부 JavaScript 파일 연결&ndash;&gt;-->
<script src="/js/recipeTest.js"></script>
</body>
</html>